* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.image-gallery-image {
  max-height: 70vh !important;
}

.descbox {
  background-color: black;
  font-size: 0.8vw;
  opacity: 0.7;
  color: white;
  padding-left: 0.3vw;
}
.mz {
  margin: 0;
}
.m1 {
  margin-top: 0.5vw;
  margin-bottom: 0.2vw;
}
.m4 {
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
}
.m2 {
  margin-top: 2.5vw;
  margin-bottom: 1.5vw;
}

.tblidx {
  background-color: #f6f6f6;
  border-bottom: black solid 0.02vw;
  border-right: black solid 0.02vw;
  padding: 0.4vw;
  text-align: center;
}
.tblc {
  border-bottom: black solid 0.02vw;
  border-right: black solid 0.02vw;
  padding: 0.4vw;
}

.tblccontent {
  border-bottom: black solid 0.02vw;
  border-right: black solid 0.02vw;
  padding: 0.2vw;
  min-height: 10vw;
}

.tblidxsmall {
  background-color: #f6f6f6;
  border-bottom: black solid 0.02vw;
  border-right: black solid 0.02vw;
  padding: 1vw;
  text-align: center;
}
.tblcsmall {
  border-bottom: black solid 0.02vw;
  border-right: black solid 0.02vw;
  padding: 1vw;
}

.tblccontentsmall {
  border-bottom: black solid 0.02vw;
  border-right: black solid 0.02vw;
  padding: 0.2vw;
  min-height: 10vw;
}

.tbl {
  border: 0.02vw solid black;
}

.tbl-right {
  border-right: 0.02vw solid black;
  border-top: 0.02vw solid black;
  border-bottom: 0.02vw solid black;
}
.smallgp .arrow {
  font-size: 4vw;
  line-height: 4vw;
}
.noticepbox {
  border-top: black solid 0.02vw;
  border-left: black solid 0.02vw;
  font-size: 1.1vw;
}
.noticepostboxtop {
  margin-top: 2vw;
}
.noticepostboxtopsmall {
  margin-top: 2vw;
  font-size: 3.5vw;
  line-height: 6vw;
  padding: 2vw;
}
.postshowbox .postpiecepiece {
  line-height: 2.3vw;
}
.noticeborder {
  border: black 0.1vw solid;
}
.postshowboxsmall .postpiecepiece {
  line-height: 7vw;
}

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.8vw;
  line-height: 1.4vw;
  height: 100%;
}
.postpiecepiece:hover {
  background-color: #f6f6f6;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}

.dropdown {
  opacity: 0.7;
  background-color: black;
  height: 10vw;
}

.dropdownsmall {
  opacity: 0.7;
  background-color: black;
  height: 18vw;
}
.dropdownsmall a {
  padding: 1vw;
}

.noticebar {
  border-bottom: 0.02vw gray solid;
  border-top: 0.1vw gray solid;
}
.dropdown a {
  color: white;
}

.dropdownsmall a {
  color: white;
  font-size: 2.5vw;
  padding: 1vw;
}
.hi {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
.pagination-notice {
  border-top: 0.02vw gray solid;
}
.mainbox1small {
  font-size: 3vw;
  line-height: 3vw;
  margin-bottom: 3vw;
}
.mainbox2 {
  padding-bottom: 1vw;
  display: grid;
  grid-template-columns: 2fr 5fr;
}
.mainbox2 .linkbox {
  padding-right: 1vw;
  padding-bottom: 0.5vw;
}

.linkbox-tel {
  padding-left: 0.5vw;
}
.mainbox2 .linkbox .linkbox-tel {
  border-bottom: 0.05vw gray solid;
}
.mainbox2 .linkbox .linkbox1 {
  border-bottom: 0.05vw gray solid;
  padding-left: 0.5vw;
}

.mainbox2 .linkbox .linkbox2 {
  border-bottom: 0.05vw gray solid;
  padding-left: 0.5vw;
}
.mainbox2 .linkbox .linkbox2:hover {
  background-color: #f6f6f6;
}

.mainbox2 .linkbox .linkbox2hi {
  border-bottom: 0.05vw gray solid;
  border-right: 0.05vw gray solid;
  padding-left: 0.5vw;
}
.mainbox2 .linkbox .linkbox2hi:hover {
  background-color: #f6f6f6;
}
.mainbox2 .linkbox .linkbox3 {
  border-bottom: 0.05vw gray solid;
}
.mainbox2 .gallery .title {
  display: grid;
  grid-auto-flow: column;
}
.mainbox2 .gallery .title .title-title {
  font-size: 1.2vw;
}
.mainbox2 .gallery .title .more {
  align-self: end;
  justify-self: end;
}
.mainbox2 .gallery .title .more:hover {
  font-size: 1vw;
}
.mainbox2 .gallery .products {
  display: grid;
  justify-self: start;
  padding: 0;
}
.mainbox2 .gallery .products ul {
  display: grid;
  justify-self: center;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding-inline-start: 0;
}
.mainbox2 .gallery .products ul li:hover {
  opacity: 0.5;
}

.mainbox2small {
  font-size: 3vw;
  padding-bottom: 1vw;
  display: grid;
  grid-template-columns: 2fr 5fr;
}
.mainbox2small .linkbox {
  padding-right: 1vw;
  padding-bottom: 1vw;
}
.mainbox2small .linkbox .linkbox-tel {
  border-bottom: 0.05vw gray solid;
}
.mainbox2small .linkbox .linkbox1 {
  border-bottom: 0.05vw gray solid;
  padding-left: 0.5vw;
}

.hihiroo {
  font-size: 2.5vw;
}
.hihiroo:hover {
  background-color: #f6f6f6;
}

.mainbox2small .linkbox .linkbox1s {
  border-bottom: 0.05vw gray solid;
  padding-left: 0.5vw;
}
.mainbox2small .linkbox .linkbox1:hover {
  background-color: #f6f6f6;
}
.mainbox2small .linkbox .linkbox2 {
  border-bottom: 0.05vw gray solid;
}
.mainbox2small .linkbox .linkbox2:hover {
  background-color: #f6f6f6;
}
.mainbox2small .linkbox .linkbox3 {
  border-bottom: 0.05vw gray solid;
}
.mainbox2small .gallery .title {
  display: grid;
  grid-auto-flow: column;
}
.mainbox2small .title-title {
  margin-top: 2vw;
  font-size: 5vw;
}

.mainbox2small .gallery .products {
  display: grid;
  justify-self: start;
  padding: 0;
}
.mainbox2small .gallery .products ul {
  display: grid;
  justify-self: center;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding-inline-start: 0;
}
.mainbox2small .gallery .products ul li:hover {
  opacity: 0.5;
}

.mainbox3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 1vw;
}

.smallmainbox3 {
  font-size: 3vw;
}
.notice {
  padding-right: 1vw;
}
.rhdwltkgkdsmall {
  font-size: 5vw;
}
.mainbox3 .notice ul {
  display: grid;
  align-items: start;
  grid-template-rows: 40px 40px 40px 40px 40px;
  border-top: 0.05vw gray solid;
}
.mainbox3 .notice ul li {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 0.05vw gray solid;
  align-items: center;
  justify-items: center;
}
.mainbox3 .notice ul li a:hover {
  color: gray;
}
.mainbox3 .way {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 306px 1fr;
}
.mainbox3 .way .way-img {
  justify-self: center;
}

.way-desc:hover {
  background-color: #f6f6f6;
}

.way-descsmall {
  padding-left: 2vw;
}

.way-descsmall:hover {
  background-color: #f6f6f6;
}

.full {
  min-height: 67vh;
}

.mainbox3 .way .way-desc .way-description:hover {
  background-color: #f6f6f6;
}

.footer {
  background-color: #333;
  color: white;
  margin-top: 5vw;
}

.footer a {
  color: white;
}
.footer .footer-logo {
  align-self: center;
  justify-self: center;
}
.footer .footer-desc {
  display: grid;
  grid-auto-flow: row;
  color: white;
}

.footersmall {
  background-color: #333;
  margin-top: 10vw;
  line-height: 4vw;
  font-size: 3vw !important;
  color: white;
  padding-left: 2vw;
}

.footersmall a {
  color: white;
  font-size: 3vw;
}
.footersmall p {
  color: white;

  padding-left: 2vw;
  padding-right: 2vw;
}

.footer-descsmall {
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.5vw;
  color: gray;
}

.footersmall a {
  margin-top: 2vw;
  line-height: 3vw;
  font-size: 2.5vw;
}
.linkboxsamll {
  line-height: 4vw;
  font-size: 3vw;
}

.rhdwltkgkd {
  font-size: 1.3vw;
}
.postmainbox {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 200px;
}
.footer a {
  display: inline;
  white-space: nowrap;
}
.radius {
  border-radius: 2%;
}
.icons {
  width: 1.5vw;
  height: 1.5vw;
  margin-right: 1vw;
}
.bigphone {
  font-size: 1.2vw;
}
.iconssmall {
  width: 3vw;
  height: 3vw;
}
.smallnavbar {
  border-bottom: 0.1vw solid #f9f9f9;
}
.postmainbox .navbar-column {
  display: grid;

  grid-template-rows: 50px 1fr;
  justify-items: center;
}
.postmainbox .navbar-column ul {
  display: grid;
  grid-template-rows: 20px 20px 20px;
  justify-items: center;
}
.productpiece {
  padding: 2vw;
  border-bottom: 0.1vw solid #f6f6f6;
}
.productpiece:hover {
  border-radius: 2%;
  background-color: #f6f6f6;
}
.productdesc {
  padding-left: 2vw;
  padding-right: 2vw;
  white-space: pre;
}

.productpiecesmall {
  padding: 2vw;
  font-size: 3vw;
  border-bottom: 0.1vw solid #f6f6f6;

  line-height: 4vw;
}
.productpiecesmall:hover {
  border-radius: 2%;
  background-color: #f6f6f6;
}

.m3 {
  margin-top: 2vw;
  margin-bottom: 1vw;
}
.postmainbox .navbar-column ul a:hover {
  color: gray;
}
.postmainbox .postshowbox {
  display: grid;
  grid-template-rows: 80px 50px 435px 100px;
}
.postmainbox .postshowbox .postshowbox-head {
  display: grid;
  grid-auto-flow: column;
}
.postmainbox .postshowbox .postshowbox-head a {
  font-size: 1.5vw;
}
.postmainbox .postshowbox .postshowbox-head .write {
  justify-self: end;
  align-self: end;
}
.postmainbox .postshowbox .postshowbox-head .write:hover {
  color: gray;
}
.bar {
  border-bottom: 0.1vw gray solid;
}
.postmainbox .postshowbox .posts {
  display: grid;
  grid-template-rows: 20px;
  border-bottom: 0.05vw gray solid;
}
.postmainbox .postshowbox .posts ul li a {
  display: grid;
  grid-template-columns: 450px 180px 192px;
  justify-items: center;
}
.postmainbox .postshowbox .posts ul li a:hover {
  background-color: #f6f6f6;
}
.postmainbox .postshowbox .pagination {
  margin-top: 10px;
  display: grid;
  height: 20px;
  grid-template-columns: 1fr 30px 1fr;
  justify-self: center;
}
.postmainbox .postshowbox .pagination-notice {
  margin-top: 10px;
  display: grid;
  height: 100%;
  grid-template-columns: 100px 30px 100px;
  justify-self: center;
  align-content: center;
  justify-content: center;
}
.postmainbox .postshowbox .pagination-notice .pagination-page {
  display: grid;
}
.postmainbox .draftbox {
  display: grid;
  margin-top: 2vw;
  grid-template-rows: 80px 800px;
  background-color: grey;
}
.draftboxsmall {
  font-size: 3.5vw;
  line-height: 4vw;
  margin-bottom: 5vw;
}
.postmainbox .draftbox .draftbox-head {
  justify-items: start;
}
.postmainbox .draftbox .draftbox-main form {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 8fr 3fr 2fr;
  justify-items: start;
  align-items: center;
}

.postmainbox .draftbox .draftbox-main form .submit-button {
  justify-self: end;
}

.postmainbox .draftbox .draftbox-main form .agreementbox {
  display: grid;
  grid-template-rows: auto;
}

.agreementbox .checkbox {
  display: grid;
  grid-template-columns: auto;
  justify-self: end;
}

.gallerymainbox {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.gallerymainbox .navbar-column {
  display: grid;
  grid-template-rows: 50px 1fr;
  justify-items: center;
}
.gallerymainbox .navbar-column ul {
  display: grid;
  grid-template-rows: 20px 20px 20px;
  justify-items: center;
}
.gallerymainbox .navbar-column ul a:hover {
  color: gray;
}
.gallerymainbox .photobox {
  display: grid;
  grid-auto-flow: row;
}
.gallerymainbox .photobox .photoboxmain {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 3vw;
}
.gallerymainbox .photobox .photoboxmain .productbox {
  display: grid;
}
.byeroo {
  margin-bottom: 2vw;
}
.gallerymainbox .photobox .photoboxmain .productbox:hover {
  color: gray;
}
.gallerymainbox .gallerypostbox {
  display: grid;
  grid-auto-flow: row;
}
.postcontentmainbox {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 1vw;
  padding: 1vw;
}
.postcontentmainbox .navbar-column {
  display: grid;

  grid-template-rows: 50px 1fr;
  justify-items: center;
}
.postcontentmainbox .navbar-column ul {
  display: grid;
  grid-template-rows: 20px 20px 20px;
  justify-items: center;
}
.postcontentmainbox .navbar-column ul a:hover {
  color: gray;
}
.postcontentmainbox .contentbox {
  border-left: 0.02vw gray solid;
  margin-top: 1vw;
  border-left: 0.02vw gray solid;
  border-top: 0.02vw gray solid;
}
.postcontentmainbox .contentbox p {
  margin: 0;
  padding: 0.3vw;
  border-right: 0.02vw gray solid;
  border-bottom: 0.02vw gray solid;
}

.postcontentmainbox .contentbox .idx {
  display: grid;
  background-color: #f6f6f6;
}
.noticesmall {
  padding-bottom: 3vw;
}

.noticesmall .postpiecepiece {
  line-height: 5vw;
}

.pageboxsmall {
  margin-top: 2vw;
  font-size: 3vw;
  line-height: 4vw;
}
#noticebacklink {
  display: grid;
  justify-items: end;
}

.postcontentmainbox .contentbox .contentboxmain {
  display: grid;
  grid-auto-flow: row;
  min-height: 200px;
}
.postcontentmainbox .contentbox a:hover {
  color: gray;
}

.mapmainbox {
  display: grid;
}
.mapimg {
  justify-self: center;
}
.tnwlq {
  font-size: 2.5vw;
  line-height: 4vw;
}
.draftbox {
  margin-top: 2vw;
  margin-bottom: 5vw;
}

.fullform {
  width: 100%;
  height: 2.3vw;
  font-size: 1vw;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
}

.fullformsmall {
  width: 100%;
  height: 5vw;
  font-size: 3vw;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
}
.tkdeka {
  text-align: center;
}

.ansdmlsodyd {
  width: 100%;
  height: 10vw;
  font-size: 1vw;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
}

.ansdmlsodydsmall {
  width: 100%;
  height: 10vw;
  font-size: 3vw;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
}
.agreementcheckbox {
  display: grid;
  grid-template-columns: 70px 30px;
  justify-content: end;
}

.mapmainbox {
  margin-bottom: 220px;
  padding: 20px;
}

.introbox {
  margin-bottom: 20px;
}

.galleryPost {
  margin-top: 180px;
  background-color: gray;
  height: 1000px;
  width: 1140px;
}

.imgshow {
  width: 100%;
  margin-top: 0.8vw;
}

.arrow {
  font-size: 1.3vw;
  margin-top: 1.3vw;
}

.background {
  margin-top: 0px;
  padding: 10px;
}
.fa-arrow-circle-left {
  font-size: 4.5vw;
}

.fa-arrow-circle-left:hover {
  font-size: 4.6vw;
}
.picinfozone {
  background-color: black;
  padding: 1vw;
  opacity: 0.7;
  font-size: 1vw;
  line-height: 2.5vw;
  color: white;
  width: 20vw;
  height: 100vh;
}

.picinfozonesmall {
  background-color: black;
  padding: 3vw;
  opacity: 0.7;
  font-size: 3vw;
  line-height: 3vw;
  color: white;
}
.managebox {
  display: grid;
  width: 100%;
  justify-items: center;
}
.manage-notice {
  display: grid;
  width: 70%;
  grid-template-rows: 30px 30px 300px;
}
.manage-notice3 {
  display: grid;
  width: 70%;
  grid-template-rows: 30px 30px 30px 300px;
}
.manage-notice2 {
  display: grid;
  width: 70%;
  grid-template-rows: 30px 30px;
}

.managebox6 {
  display: grid;
  width: 70%;
  grid-template-rows: 30px 150px 30px;
  margin-bottom: 3vw;
}

.endbottom {
  margin-bottom: 10vw;
}
.manage3-content {
  margin-bottom: 2vw;
}
.manage-photo {
  display: grid;
  width: 70%;
  grid-template-rows: 30px 30px;
}
.paddingbox {
  padding: 1vw;
}
.manage3-box {
  display: grid;
  min-width: 500px;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}
.postpiecepiece {
  border-bottom: solid gray 0.02vw;
}
.map-descbox {
  padding-left: 20px;
}

.pagebox {
  margin-top: 2vw;
}
.buttonparty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.navbarLogo {
  font-size: 1.5vw;
}

.navbarp {
  font-size: 1vw;
}
.footer-logo {
  font-size: 1.5vw;
  text-align: center;
}

.title-title {
  display: grid;
  font-size: 1.3vw;
  text-align: center;
  align-self: end;
}

.more {
  font-size: 0.8vw;
  justify-self: end;
}
.more:hover {
  color: gray;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
}

.parent div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.smallparent {
  display: grid;
  grid-template-columns: 1fr;
}

.smallparent div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.smallnavbar p {
  font-size: 3.5vw;
}

.back {
  font-size: 4vw;
  position: absolute;
  z-index: 1;
  left: 1vw;
  top: 1vw;
}
.back:hover {
  font-size: 4.1vw;
}

.backsmall {
  font-size: 5vw;
  position: absolute;
  z-index: 1;
  left: 3vw;
  top: 1vw;
}

.backsmall:hover {
  position: absolute;

  font-size: 5.2vw;
}
.mainbox4 {
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.navbar-row {
  border-bottom: 0.1vw solid #f9f9f9;
}

.forbg {
  border-bottom: 0.1vw solid #f9f9f9;
  margin-bottom: 2vw;
}

.forbgsmall {
  border-bottom: 0.1vw solid #f9f9f9;
  margin-bottom: 2vw;
  font-size: 3vw;
  line-height: 5vw;
}
.mainbox4small {
  font-size: 3vw;
  line-height: 3vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
}
.deep {
  opacity: 1;
}
.onlineconsult {
  line-height: 2vw;
  font-size: 0.9vw;
  background-image: url('/imgs/background.jpg');

  opacity: 0.7;
  color: black;
  width: 100%;
  height: 25vw;
}

.onlineconsultsmall {
  line-height: 4vw;
  font-size: 2.5vw;
  background-image: url('/imgs/background.jpg');

  opacity: 0.7;
  color: black;
  width: 100%;
  height: 45vw;
  margin-top: 3vw;
}

.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.16);
}
.Modal {
  position: fixed;
  padding: '5vw';
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.Modalsmall {
  position: fixed;
  padding: '5vw';
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 5vw;
  transform: translate(-50%, -50%);
  width: 20vw;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.Modal a {
  color: white;
}

.Modal > * {
  margin-left: 16px;
  margin-right: 16px;
}
.Modal > *:first-child {
  margin-top: 16px;
}
.Modal p.title {
  font-size: 16pt;
  font-weight: bold;
  color: #333;
}
.Modal .content {
  border-top: 1px solid #bebebe;
  margin-top: 16px;
}
.Modal .content p {
  padding: 8px;
  font-size: 12pt;
  color: #999;
}

.Modal .content a {
  padding: 8px;
  font-size: 12pt;
  color: #bebebe;
  margin-bottom: 2vw;
}
.Modal .button-wrap {
  margin: 0;
  margin-top: 8px;
}
.Modal .button-wrap .one {
  width: 100%;
  padding: 12px 0;
  border-bottom: white 0.2vw solid;
  background-color: gray;
  font-size: 13pt;
  color: white;
  border: 0;
  cursor: pointer;
}
.Modal .button-wrap .two {
  width: 100%;
  padding: 12px 0;
  border-radius: 0 0 10px 10px;
  background-color: gray;
  font-size: 13pt;
  color: white;
  border: 0;
  cursor: pointer;
}
.Modal .button-wrap button:hover {
  background-color: black;
  color: white;
}
.Modal .button-wrap button:active {
  background-color: black;
  color: white;
}

.Modalsmall > * {
  margin-left: 16px;
  margin-right: 16px;
}
.Modalsmall > *:first-child {
  margin-top: 16px;
}
.Modalsmall p.title {
  font-size: 16pt;
  font-weight: bold;
  color: #333;
}
.Modalsmall .content {
  border-top: 1px solid #bebebe;
  margin-top: 16px;
}
.Modalsmall .content p {
  padding: 8px;
  font-size: 12pt;
  color: black;
}

.Modalsmall .content a {
  padding: 8px;
  font-size: 12pt;
  color: #bebebe;
  margin-bottom: 2vw;
}
.Modalsmall .button-wrap {
  margin: 0;
  margin-top: 8px;
}
.Modalsmall .button-wrap .one {
  width: 100%;
  padding: 12px 0;
  border-bottom: white 0.2vw solid;
  background-color: gray;
  font-size: 13pt;
  color: white;
  border: 0;
  cursor: pointer;
}
.urfbox {
  margin-bottom: 5vw;
}
.one {
  border-bottom: white 0.01vw solid !important;
}
.Modalsmall .button-wrap .two {
  width: 100%;
  padding: 12px 0;
  border-radius: 0 0 10px 10px;
  background-color: gray;
  font-size: 13pt;
  color: white;
  border: 0;
  cursor: pointer;
}
.Modalsmall .button-wrap button:hover {
  background-color: black;
  color: white;
}
.Modalsmall .button-wrap button:active {
  background-color: black;
  color: white;
}
.Modalsmall {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 80vw;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.Modalsmall a {
  color: white;
}

@import '~react-image-gallery/styles/css/image-gallery.css';

.mainbox6 {
  margin-bottom: 3vw;
}

.rec-carousel-wrapper .fFvvjo {
  background-color: white;
  border: none;
  box-shadow: none;
}
.rec-carousel-wrapper .doLzca {
  background-color: white;
  border: none;
  box-shadow: none;
}
.rec-carousel-wrapper .doLzca:hover:enabled {
  background-color: gray;
  box-shadow: none;
}
.rec-carousel-wrapper .doLzca:focus:enabled {
  background-color: gray;
  box-shadow: none;
}
.rec-carousel-wrapper .hlYYDB {
  box-shadow: none;
}
.rec-carousel-wrapper .jBnCOy {
  display: none;
}

.rec-carousel-wrapper .oWWim {
  background-color: white;
  border: none;
  box-shadow: none;
}

.rec-carousel-wrapper .oUxiw {
  background-color: white;
  border: none;
  box-shadow: none;
}

.rec-carousel-wrapper .oUxiw:hover:enabled {
  background-color: gray;
  box-shadow: none;
}
.rec-carousel-wrapper .oUxiw:focus:enabled {
  background-color: gray;
  box-shadow: none;
}
.rec-carousel-wrapper .kbDIuN {
  display: none;
}
.rec-carousel-wrapper .hXQwGq {
  display: none;
}
.borderline {
  border-bottom: gray 0.02vw solid;
  padding-left: 3vw;
  padding-right: 3vw;
}

.borderline2 {
  border-bottom: #f9f9f9 0.2vw solid;
  padding: 1vw;
  margin-bottom: 0.5vw;
}

.picinfo {
  position: absolute;
  background-color: black;
  z-index: 1;
  opacity: 0.7;
  color: white;
  padding: 1vw;
  right: 1vw;
}

.picinfosmall {
  position: absolute;
  background-color: black;
  z-index: 1;
  opacity: 0.7;
  color: white;
  top: 7vw;
  line-height: 3vw;
  padding: 1vw;
  font-size: 3vw;
}
.consultbutton {
  border: 0.2vw solid white;
  color: white;
  background-color: black;
  opacity: 0.7;
  font-size: 1vw;
  padding: 0.5vw;
  width: 10vw;
  height: 3vw;
}

.consultbutton:hover {
  border: 0.2vw solid white;
  color: black;
  background-color: white;
  opacity: 0.7;
  font-size: 1vw;
  width: 10vw;
  height: 3vw;
}

.consultbutton3 {
  border: 0.2vw solid white;
  color: white;
  border-radius: 10%;
  background-color: black;
  opacity: 0.7;
  font-size: 0.8vw;
  padding: 0.5vw;
  text-align: center;
}

.consultbutton3small {
  border: 0.2vw solid white;
  color: white;
  border-radius: 10%;
  background-color: black;
  opacity: 0.7;
  font-size: 2vw;
  padding: 1vw;
  text-align: center;
}

.consultbutton3:hover {
  border: 0.2vw solid white;
  color: black;
  background-color: gray;
  opacity: 0.7;
  font-size: 0.8vw;
}

.consultbutton3small {
  border: 0.2vw solid white;
  color: white;
  border-radius: 10%;
  background-color: black;
  opacity: 0.7;
  font-size: 4vw;
  line-height: 10vw;
  padding: 0.3vw;
  text-align: center;
}

.consultbutton3small:hover {
  border: 0.2vw solid white;
  color: black;
  background-color: gray;
  opacity: 0.7;
}

.consultbuttonsmall {
  border: 0.2vw solid white;
  color: white;
  background-color: black;
  opacity: 0.7;
  font-size: 3.5vw;
  margin-top: 1vw;
  padding: 1vw;
  line-height: 2vw;
}
.slidebox {
  padding: 0.5vw;
}
.babo {
  text-align: center;
}

.consultbuttonsmall:hover {
  color: black;
  background-color: white;
}

.linkimage:hover {
  opacity: 0.8;
}

.main5small {
  font-size: 3vw;
  line-height: 3vw;
}

.mainbox7small {
  font-size: 3vw;
  line-height: 5vw;
  margin-bottom: 10vw;
}
.mainbox6small {
  font-size: 2.5vw;
  line-height: 3vw;
  margin-bottom: 3vw;
  margin-bottom: 10vw;
}

.mainbox6small .slideboxsmall .babo {
  padding: 3vw;
  font-size: 3vw;
  text-align: center;
}
.magni {
  font-size: 1vw;
}

.magni:hover {
  font-size: 1.05vw;
}

.magni2:hover {
  font-size: 0.9vw;
}

.magni2small:hover {
  font-size: 2.6vw;
}

.as {
  border-bottom: gray solid 0.1vw;
}

.rightborder {
  border-right: gray solid 0.1vw;
}

.mainIcon {
  border-left: solid black 0.1vw;
  border-top: solid black 0.1vw;
  border-bottom: solid black 0.1vw;
}

.mainIcon2 {
  border: solid black 0.1vw;
}

.mainIcon:hover {
  background-color: #f6f6f6;
}

.mainbox5 {
  border-top: solid black 0.1vw;
}
.navBut:hover a {
  color: gray;
}
.borderRight {
  border-right: solid black 0.02vw;
  padding-right: 1vw;
}

.borderRight:hover {
  background-color: #f6f6f6;
}

.active-link {
  color: black !important;
  font-size: 1.4vw;
}

.active-linksmall {
  color: black;
  font-size: 4vw !important;
}
.navbutton {
  color: black;
}
.navbutton:hover {
  font-size: 1vw;
}

.navbuttonsmall {
  color: black;
  font-size: 3vw;
}
.navbuttonsmall:hover {
  font-size: 3.2vw !important;
}

.consultbutton2 {
  border: 0.2vw solid white;
  margin-bottom: 1vw;
  color: white;
  background-color: black;
  opacity: 0.7;
  font-size: 1vw;
  padding: 1vw;
  width: 100%;
  text-align: center;
}

.smallconsultbutton2 {
  border: 0.2vw solid white;
  margin-bottom: 1vw;
  color: white;
  background-color: black;
  opacity: 0.7;
  font-size: 3vw;
  padding: 2vw;
  width: 100%;
  text-align: center;
}

.consultbutton2:hover {
  background-color: gray;
}

.consultbutton2small {
  border: 0.2vw solid white;
  margin-bottom: 1vw;
  color: white;
  background-color: black;
  opacity: 0.7;
  font-size: 3vw;
  line-height: 3vw;
  padding: 3vw;
  width: 100%;
  text-align: center;
}

.consultbutton2small:hover {
  background-color: gray;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.fa-user-circle {
  font-size: 7vw;
}

.ad {
  background-color: black;
  border-radius: 10%;
  color: white;
  opacity: 0.7;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  padding: 1vw;
  text-align: 'center';
}

.ad p {
  text-align: 'center';
  padding-left: 1vw;
}

.ad2 {
  font-size: 1vw;
  color: black;
  position: fixed;
  bottom: 13vw;
  right: 1.7vw;
  padding: 1vw;
}

.naver {
  border-radius: 10%;

  margin-right: 0.5vw;
}

.naver:hover {
  width: 55px;
  height: 55px;
}
.insta {
  border-radius: 10%;
}

.insta:hover {
  width: 55px;
  height: 55px;
}
.kakao {
  border-radius: 10%;
  margin-left: 0.5vw;
}
.kakao:hover {
  width: 55px;
  height: 55px;
}
.exbox {
  font-size: 1vw;
  color: black;
  position: fixed;
  bottom: 17vw;
  right: 2vw;
  padding: 1vw;
}
.fa-map-marker-alt {
  font-size: 5vw;
}

.fa-building {
  font-size: 5vw;
}
.fa-bell {
  font-size: 5vw;
}

.hibyeh {
  font-size: 1.2vw;
}

.hib {
  border: 0.04vw solid black;
  padding: 1.5vw;
}

.hib:hover {
  background-color: #f6f6f6;
}

.hibsmallyeh {
  font-size: 5vw;
  line-height: 3vw;
}

.hibsmall {
  border: 0.1vw solid #f9f9f9;
  border-radius: 10%;
  padding: 1.5vw;
}

.hibsmall:hover {
  background-color: #f6f6f6;
}

.mainbox5small {
  font-size: 2.7vw !important;
  line-height: 3vw !important;
  margin-bottom: 5vw;
}

.mainbox5small2 {
  font-size: 4vw !important;
  line-height: 3vw !important;
  margin-bottom: 5vw;
}
.fa-bullhorn {
  font-size: 7vw;
}
.fa-map-signs {
  font-size: 7vw;
}
.fa-store {
  font-size: 7vw;
}
.pnavbarsmall {
  font-size: 3vw;
  line-height: 3vw;
}
.navSmall {
  font-size: 4vw;
  line-height: 8vw;
}

.navOne {
  border-bottom: solid 0.01vw #f6f6f6;
}

.adsmall {
  font-size: 3vw;
  line-height: 4vw;
  background-color: black;
  border-radius: 10%;
  color: white;
  opacity: 0.7;
  position: fixed;
  bottom: 16vw;
  right: 2vw;
  padding: 2vw;
  text-align: 'center';
}

.ad2small {
  font-size: 2vw;
  color: black;
  position: fixed;
  bottom: 2vw;
  right: 1.7vw;
  padding: 1vw;
}

.exboxsmall {
  font-size: 2.5vw;
  color: gray;
  position: fixed;
  bottom: 14vw;
  right: 3vw;
  padding: 1vw;
}
.hiddenThings {
  min-height: 20vw;
}

.smallhiddenThings {
  min-height: 30vw;
  font-size: 3vw;
  line-height: 5vw;
}

.hiddenThings2 {
  min-height: 30vw;
}

.manager {
  position: absolute;
  top: 5vw;
  left: 1vw;
  font-size: 2vw;
}

.DIuaA {
  display: none !important;
}

.bkVSTc {
  display: none !important;
}

.kyJvRZ:disabled {
  background-color: white !important;
  box-shadow: none !important;
}
.kyJvRZ {
  background-color: white !important;
  box-shadow: none !important;
}

.bTybGL {
  background-color: white !important;
  box-shadow: none !important;
}

.bTybGL:disabled {
  background-color: white !important;
  box-shadow: none !important;
}

.jAkCdf {
  background-color: white !important;
  box-shadow: none !important;
}

.jAkCdf:disabled {
  background-color: white !important;
  box-shadow: none !important;
}

.jAmbxV {
  background-color: white !important;
  box-shadow: none !important;
}

.jAmbxV:disabled {
  background-color: white !important;
  box-shadow: none !important;
}

.cOWINi {
  display: none !important;
}

.XwuLX {
  display: none !important;
}

.kzPUbE {
  display: none !important;
}
